<div class="footer padding-120">
    <div>
        <a routerLink="Imprint">Imprint</a>
        <a routerLink="DataProtection">Data Protection</a>
    </div>
    <div class="socialLinks">
        <a href="https://www.linkedin.com/in/marcel-regh-819279234/"><img src="assets/icons/icons8-linkedin-48.png"></a>
        <a href="https://github.com/MarcelRegh"><img src="assets/icons/icons8-github-48.png"></a>
        <a href="https://www.xing.com/profile-preview/Marcel_Regh"><img src="assets/icons/icons8-xing.png"></a>
    </div>
</div>
