<div class="about padding-120" id="about">
    <div class="aboutMe">
        <img src="assets/img/Profile2.jpg">
        <div class="aboutMeText ml-16">
            <h2>About me.</h2>

            <span>My name is Marcel Regh<br>
                and I'm a 20 years old Web Developer from Germany. I'm a big motorcycle and car lover, so I really enjoy working on vehicles with my father. Ever since I can remember, I've spent almost every weekend with him in the workshop</span>
        </div>
    </div>
    <div class="aboutMeDetail">
        <div class="aboutMeDetailText">
            <img src="assets/icons/icons8-gehen-48.png">
            <p>My Journey Began</p>
            <span>I started my IT journey with computer games and developing a curiosity for software and game development after I wrote small scripts for gaming.</span>
        </div>
        <div class="aboutMeDetailText">
            <img src="assets/icons/icons8-search-48.png">
            <p>My Journey</p>
            <span>It all started with simple HTML and Bootstrap after I had gained my first experience there, I continued with a lot of JavaScript and REST API projects, which were great fun. After JavaScript came Angular projects, I realized how much easier things were to implement but at the same time the code is cleaner and clearer but also more complex</span>
        </div>
        <div class="aboutMeDetailText">
            <img src="assets/icons/icons8-gefällt-mir-48.png">
            <p>The Developer Akademie</p>
            <span>The Developer Academy was the place I was looking for, here I was taught quickly and well how to develop everything from websites to complicated business apps.</span>
        </div>
        <div class="aboutMeDetailText">
            <img src="assets/icons/icons8-plane-48.png">
            <p>My goals</p>
            <span>After completing my further training, I would like to start my career as a Front End developer.</span>
        </div>
    </div>
</div>