<div class="about" id="about">
    <div class="aboutMe">
        <img src="./../../assets/img/Profile.jpg">
        <div class="aboutMeText">
            <h2>About me.</h2>

            <span>My name is Marcel Regh<br>
                and I'm a 20 years old Web Developer from Germany</span>
        </div>
    </div>
    <div class="aboutMeDetail">
        <div class="aboutMeDetailText">
            <img src="./../../assets/icons/icons8-gehen-48.png">
            <p>My Journey Began</p>
            <span>I started my IT journey with computer games and developing a curiosity for software and game development after I wrote small scripts for gaming.</span>
        </div>
        <div class="aboutMeDetailText">
            <img src="./../../assets/icons/icons8-gefällt-mir-48.png">
            <p>The Developer Akademie</p>
            <span>The Developer Academy was exactly the place I was looking for, here I was taught quickly and well how to develop everything from websites to complicated business apps.</span>
        </div>
        <div class="aboutMeDetailText">
            <img src="./../../assets/icons/icons8-search-48.png">
            <p>My Journey Began</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat repellat rerum qui, dolorem odit
                cum! Quam animi architecto ullam, eos quod quasi velit ab sint expedita eum dolorem cum aperiam!</span>
        </div>
        <div class="aboutMeDetailText">
            <img src="./../../assets/icons/icons8-plane-48.png">
            <p>My goals</p>
            <span>After successfully completing my further training, I would now like to start my career as a frontend developer.</span>
        </div>
    </div>
</div>