<div class="padding-120" id="projects">
    <h2>My Projects</h2>

    <div class="projectsButtons">
        <button mat-button (click)="showAll()">All</button>
        <button mat-button (click)="showAngular()">Angular</button>
        <button mat-button (click)="showJavaScript()">Java Script</button>
    </div>

    <div class="projectsWork">
        <div *ngIf="angular" class="card">
            <img src="assets/img/ringoffire.jpg">
            <div class="description">
                <h3>Ring of Fire</h3>
                <p>Angular, HTML, SCSS based drinking Game for a nice evening with friends</p>
                <a href="https://ring-of-fire-5c2c0.web.app/">Check it out</a>
                <a href="https://github.com/MarcelRegh/Ring-of-Fire" class="git-link"><img class="mt-16" src="assets/icons/icons8-github-48 (1).png"></a>
            </div>
        </div>

        <div *ngIf="angular" class="card">
            <img src="assets/img/Profile.jpg">
            <div class="description">
                <h3>Ring of Fire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, dolorum sunt harum facilis error</p>
                <a href="">Check it out</a>
                <a href="" class="git-link"><img class="mt-16" src="assets/icons/icons8-github-48 (1).png"></a>
            </div>
        </div>

        <div *ngIf="javaScript" class="card">
            <img src="assets/img/pokedex.png">
            <div class="description">
                <h3>Pokedex</h3>
                <p>JavaScript, HTML, CSS based Pokédex with data from <br> a REST-API to see all the <br> Pokémon Stats and Moves</p>
                <a href="https://marcelregh.de/Pokedex/Pokedex.html">Check it out</a>
                <a href="https://github.com/MarcelRegh/PokeDex" class="git-link"><img class="mt-16" src="assets/icons/icons8-github-48 (1).png"></a>
            </div>
        </div>
        
        <div *ngIf="javaScript" class="card">
            <img src="assets/img/Profile.jpg">
            <div class="description">
                <h3>Ring of Fire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, dolorum sunt harum facilis error</p>
                <a href="">Check it out</a>
                <a href="" class="git-link"><img class="mt-16" src="assets/icons/icons8-github-48 (1).png"></a>
            </div>
        </div>
    </div>
</div>