<div id="contact" class="padding-120">
    <header>
        <h1>Contact me.</h1>
        <span>Get in touch via the form below, or ba emailing <span class="e-mail">metyxs@gmail.com</span></span>
    </header>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-form">
        <div>
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input 
                    matInput 
                    type="text"
                    id="name" 
                    required=""
                    [(ngModel)]="contact.name"
                    name="name"
                    #name="ngModel"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input 
                    matInput 
                    required="" 
                    type="email"
                    [(ngModel)]="contact.email"
                    name="email"
                    #email="ngModel"
                    autocomplete="off"
                >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="width-100">
                <mat-label>Messege</mat-label>
                <textarea 
                    matInput 
                    required=""
                    id=""
                    [(ngModel)]="contact.message"
                    name="message"
                    #message="ngModel"
                    autocomplete="off"
                ></textarea>
            </mat-form-field>
        </div>

        <button mat-button type="submit" [disabled]="!contactForm.form.valid">Submit</button>
    </form>
</div>
