<div id="contact">
    <header>
        <h1>Contact me.</h1>
        <span>Get in touch via the form below, or ba emailing <span class="e-mail">metyxs@gmail.com</span></span>
    </header>

    <form class="width-100">
        <div>
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="width-100">
                <mat-label>Messege</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
