#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 120px 64px 120px;
    background-color: #000000;
}

header {
    margin-bottom: 64px;

    h1 {
        color: #2dfcd8;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .e-mail {
        color: #2dfcd8;

        &:hover {
            cursor: pointer;
        }
    }
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #2dfcd8;
        background-color: #1a1a1a;
    }
    
    mat-form-field {
        .mat-form-field-label {
            color: #2dfcd8;
        }
    }
}

textarea {
    height: 150px;
    resize: none !important;
}

button {
    height: 50px;
    width: 100px;
    color: #2dfcd8;
    border: 1px solid #2dfcd8;
    background-color: #1a1a1a;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: #2dfcd8;
        transition: 225ms ease-in-out;
    }
}
