<div class="skills" id="skills">
    <h2> My Skills </h2>
    <div class="skillContainer">
        <div class="skillContainerWrap">
            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-javascript-64.png"></div>
                <div class="skillContainerCardType">
                    <p>Java Script</p>
                </div>
            </div>

            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-angularjs-64.png"></div>
                <div class="skillContainerCardType">
                    <p>Angular</p>
                </div>
            </div>

            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-css3-64.png"></div>
                <div class="skillContainerCardType">
                    <p>HTML / CSS</p>
                </div>
            </div>

            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-scrum-64.png"></div>
                <div class="skillContainerCardType">
                    <p>SCRUM</p>
                </div>
            </div>

            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-git-64.png"></div>
                <div class="skillContainerCardType">
                    <p>Git</p>
                </div>
            </div>

            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-stift-64.png"></div>
                <div class="skillContainerCardType">
                    <p>Design Thinking</p>
                </div>
            </div>

            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-api-einstellungen-64.png"></div>
                <div class="skillContainerCardType">
                    <p>Rest Api</p>
                </div>
            </div>

            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-test-absolviert-64.png"></div>
                <div class="skillContainerCardType">
                    <p>Test automation</p>
                </div>
            </div>

            <div class="skillContainerCard">
                <div class="skillContainerCardPic"><img src="assets/icons/icons8-datenbank-64.png"></div>
                <div class="skillContainerCardType">
                    <p>Databases</p>
                </div>
            </div>
        </div>
    </div>
</div>