<div class="Content">
    <div class="home padding-120">
        <div>
            <h1> Hi, <br>
                I'm <span style="color: #FA2759;">Marcel</span> Regh <br>
                <span class="tw"></span>
            </h1>
            <a href="#contact"><button mat-button color="primary">Contact Me.</button></a>
        </div>
        <img src="assets/img/Profile.jpg">
    </div>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-about></app-about>
    <app-contact></app-contact>
</div>